@{ 
    var VUserInfoModel = (ProjectManageAssistant.Models.ViewModel.ViewModelUserInfo)ViewBag.UserInfo;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Dashboard | BlueWhale Admin</title>
    <style type="text/css">
        /*reset*/
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, font, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
        }

        body {
            line-height: 1;
        }
        /*text*/
        body {
            font: 13px/1.5 Tahoma, Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
        }

        ul {
            list-style: square;
        }
        /*grid*/
        .container_12,
        .container_16 {
            width: 100%;
        }

            .container_12 .grid_12, .container_16 .grid_16 {
                width: 98%;
            }

            .container_12 .grid_10 {
                width: 81.333%;
            }

        .grid_1,
        .grid_2,
        .grid_3,
        .grid_4,
        .grid_5,
        .grid_6,
        .grid_7,
        .grid_8,
        .grid_9,
        .grid_10,
        .grid_11,
        .grid_12,
        .grid_13,
        .grid_14,
        .grid_15,
        .grid_16 {
            display: inline;
            float: left;
            margin-left: 1%;
            margin-right: 1%;
        }

        html body * span.clear,
        html body * div.clear,
        html body * li.clear,
        html body * dd.clear {
            background: none;
            border: 0;
            clear: both;
            display: block;
            float: none;
            font-size: 0;
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            visibility: hidden;
            width: 0;
            height: 0;
        }

        .container_12 .grid_2 {
            width: 14.666%;
        }
        /*layout*/
        body {
            background: #fff;
            color: #333;
            font-size: 11px;
            padding: 0 0 0px;
        }

        .container_12,
        .container_16 {
            background: #2E5E79;
        }

        .header-repeat {
            background: url(../../Content/images/MasterLayout/header-repeat.jpg) repeat-x;
        }

        #branding {
            font-weight: normal;
            text-align: left;
            padding: 2em 1em 1.6em 1em;
            margin-bottom: 0;
        }

        .floatleft {
            float: left;
        }

        .floatright {
            float: right;
        }

        .marginleft10 {
            margin-left: 10px;
        }

        #branding ul, #branding ul li {
            margin: 0px;
            padding: 0px;
        }

        #branding li {
            padding: 0px 0px 0px 0px !important;
        }

        .inline-ul li {
            display: inline;
            color: #fff;
        }

        a {
            color: #000;
            font-weight: bold;
            text-decoration: none;
        }

        #branding a {
            color: #A1EAFF;
            font-weight: normal;
        }

            #branding a:before {
                content: " | ";
                color: #fff;
            }

        .grey {
            color: #C2C2C2;
        }

        .small {
            font-size: 9px;
        }

        a {
            color: #000;
            font-weight: bold;
            text-decoration: none;
        }

        ul, ol {
            padding-top: 0;
        }

            ul.menu {
                list-style: none;
                border-top: 1px solid #bbb;
            }

                ul.menu ul {
                    list-style: none;
                    margin: 0;
                }

                ul.menu li {
                    margin: 0;
                }

                    ul.menu li a {
                        display: block;
                        padding: 4px 10px;
                        border-bottom: 1px solid #ccc;
                    }

                ul.menu ul li a {
                    padding-left: 30px;
                }

            ul.section {
                border-top: 0;
                margin-bottom: 0;
            }

                ul.section ul li {
                    text-transform: none;
                }

                ul.section li a {
                    background: url(../../Content/images/MasterLayout/sidemenu-repeat.jpg) repeat-x;
                    line-height: 26px;
                }

                    ul.section li a.current {
                        color: #1B548D;
                        background: url(../../Content/images/MasterLayout/sidemenu-repeat-hover.jpg) repeat-x;
                    }

                ul.section ul.current li a {
                    background: #eee;
                    border-bottom: 1px solid #fff;
                }

        #site_info {
            color: #fff;
            background: #204562;
            border-top: 1px solid #1d3b53;
            padding-left: 20px;
        }
        /*nav*/
        ul.nav, ul.nav * {
            margin: 0;
            padding: 0;
        }

        ul.nav {
            position: relative;
            background: url(../../Content/images/MasterLayout/nav-repeat2.jpg) repeat-x !important;
            max-width: 100%;
            height: 3.7em;
        }

            ul.nav li ul li {
                padding: 0;
                border: none;
                width: auto;
                max-width: none;
            }

            ul.nav li ul {
                cursor: default;
                width: 100%;
                max-width: 100%;
                position: absolute;
                height: auto;
                top: 3.4em;
                background-position: 0 0 !important;
                left: -9000px;
            }

                ul.nav li ul li a {
                    position: relative !important;
                    cursor: pointer !important;
                    white-space: nowrap;
                    line-height: 2.5em;
                    height: 2.5em;
                    font-weight: normal;
                    color: #666;
                    background-position: 0 50% !important;
                }

        ul.main li a {
            height: 3.7em;
            line-height: 3.7em;
            border: 0;
            color: #fff;
        }

        ul.nav li a {
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            display: block;
            float: left;
            padding: 0 1em;
            height: 3.7em;
            line-height: 3.7em;
        }

        ul.main li ul {
            border-top: 0;
        }

            ul.main li ul li {
                float: left;
            }

        ul.nav li {
            cursor: pointer;
            float: left;
            text-align: center;
            list-style-type: none;
            font-weight: normal;
            vertical-align: middle;
        }

        ul.main li ul li a {
            width: 12em;
            line-height: 3em;
            height: 3em;
            text-align: left;
            color: #fff;
            border-top: 1px solid #1A3A52;
            background: #103D5F;
        }

        ul.main li {
            position: relative;
            top: 0;
            left: 0;
        }

        ul.nav li.ic-dashboard a span, .ic-dashboard {
            background: url(../../Content/images/MasterLayout/icon-dashboard.png) no-repeat center left;
        }

        ul.nav li {
            background-image: none !important;
        }

        .box {
            background: #fff;
            margin-bottom: 20px;
            padding: 10px 10px 10px 10px;
            margin-left: -8px;
        }

            .box.sidemenu {
                background-color: #D1DEE4;
                border-right: 1px solid #3A5665;
                padding: 0px;
                margin: 0px;
                cursor: pointer;
                height: 100%;
            }

                .box.sidemenu .block {
                    padding-top: 0px;
                    margin-top: 0px;
                }

        .block {
            padding-bottom: 1px;
        }



        .header {
            position: relative;
            font: 400 16px Arial, Helvetica, sans-serif;
            color: #555555;
        }
            .header:before {
                content: "";
                display: block;
                position: absolute;
                left: 80px;
                right: 0;
                bottom: 8px;
                border-top: 1px solid #e8ecef;
                border-color: #888888;
            }
        h3 {
            color: #e8ecef;
            display: inline-block;
            position: relative;
            margin: 0;
            padding: 10px 10px 0 0;
            font: 18px MetricLight;
            text-transform: uppercase;
        }
    </style>

    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/Content/kendo/css")

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@


    @Scripts.Render("~/bundles/jquery-ui")

    <script type="text/javascript">
        $(document).ready(function () {
            //$("#section-menu")  
            //    .accordion({
            //        "header": "a.menuitem"
            //    })
            //    .bind("accordionchangestart", function (e, data) {
            //        data.newHeader.next().andSelf().addClass("current");
            //        data.oldHeader.next().andSelf().removeClass("current");
            //    })
            //    .find("a.menuitem:first").addClass("current")
            //    .next().addClass("current");
            //$('#section-menu .submenu').css('height', 'auto');

            var height = $(document).height();
            $('.grid_12').each(function () {
                height -= $(this).outerHeight();
            });
            height -= $('#site_info').outerHeight();
            height -= 1;
            //salert(height);
            $('.sidemenu').css('height', height);
        });
    </script>
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="container_12">
        <div class="grid_12 header-repeat">
            @Html.Partial("_UserInfo", VUserInfoModel)
        </div>
        <div class="clear">
        </div>
        <div class="grid_12">
            <ul class="nav main">
                <li class="ic-dashboard"><a href="dashboard.html"><span>Dashboard</span></a> </li>
                <li class="ic-form-style"><a href="javascript:"><span>Controls</span></a>
                    <ul>
                        <li><a href="form-controls.html">Forms</a> </li>
                        <li><a href="buttons.html">Buttons</a> </li>
                        <li><a href="form-controls.html">Full Page Example</a> </li>
                        <li><a href="table.html">Page with Sidebar Example</a> </li>
                    </ul>
                </li>
                <li class="ic-typography"><a href="typography.html"><span>Typography</span></a></li>
				<li class="ic-charts"><a href="charts.html"><span>Charts & Graphs</span></a></li>
                <li class="ic-grid-tables"><a href="table.html"><span>Data Table</span></a></li>
                <li class="ic-gallery dd"><a href="javascript:"><span>Image Galleries</span></a>
               		 <ul>
                        <li><a href="image-gallery.html">Pretty Photo</a> </li>
                        <li><a href="gallery-with-filter.html">Gallery with Filter</a> </li>
                    </ul>
                </li>
                <li class="ic-notifications"><a href="notifications.html"><span>Notifications</span></a></li>

            </ul>
        </div>
        <div class="clear">
        </div>
        <div class="grid_2">
            <div class="box sidemenu">
                @Html.Action("MenuList", "Menu")
            </div>
        </div>
        <div class="grid_10">
            @RenderBody()
        </div>
        <div class="clear">
        </div>
        </div>
    <div class="clear">
    </div>
    <div id="site_info">
        <p>
            Copyright <a href="#">BlueWhale Admin</a>. All Rights Reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
        </p>
    </div>
</body>
</html>
